Issue working with gateway

I have an error on whmcs
Shkeeper connection error. Please try later or choose another payment method

I also have no logs in the gateway logs or anything similar.
API link is http://ServerIP/api/v1
Freshly generated API key

Not all coins have synced, but these are disabled from the gateway.
Do you think this doesn't work for 8.12.1?


Did you check WHMCS System Activity Log? Also, please check connection between WHMCS and SHKeeper server. You can try get list of available crypto directly from your WHMCS server, using curl:
curl http://ServerIP/api/v1/crypto

In case, when ssl isn't configured on SHKeeper, port 5000 is using by default, so your api url should be: http://serverip:5000/api/v1/
For ssl configuration use our guide:
https://shkeeper.io/kb/use-cases/how-to-use-domain-or-ssl-with-shkeeper

Thanks for the swift reply, I had to change the link in the whmcs gateway settings to:
http://ServerIP:5000/api/v1/crypto

And not just the /v1/

Thanks very much! 

Now I have a new issue with: 
[shkeeper] Payment gateway error with Invoice ID: 2715 Can't get rate for ETHEUR
--
I have enabled rates from Kucoin, and there is value In these fields, I have also tried to change to kraken without any luck.

<img width="1199" alt="Image" src="https://github.com/user-attachments/assets/31c72ec0-5287-42c3-b5aa-b6189d13e0a9" />

<img width="280" alt="Image" src="https://github.com/user-attachments/assets/a1270068-3fb2-4a72-80dd-d4dd2eaea1d9" />

> Thanks for the swift reply, I had to change the link in the whmcs gateway settings to:
> http://ServerIP:5000/api/v1/crypto

This is incorrect API Url, correct one is http://ServerIP:5000/api/v1/, trailing slash is mandatory. In your case it's working, because you are missed trailing slash, regarding rules described in [RFC 3986, section 5.2.3](https://datatracker.ietf.org/doc/html/rfc3986#section-5.2.3) any characters after the right-most "/" in the base URI path are excluded.

> Payment gateway error with Invoice ID: 2715 Can't get rate for ETHEUR

According your screenshots there is no issues with receiving rates from Kucoin.  The issue that you are try to use SHKeeper with EUR fiat. Currently SHKeeper can work only with USD fiat, so in your WHMCS installation should be created USD currency and using 'Convert To For Processing' gateway configuration, your invoice amount will be converted into USD before sending to the SHKeeper.

Perfect! Solved the issues now.
Could not find that I needed to have a convert to USD and gateway didn´t show that field before I added USD in whmcs.

Thanks very much, transactions now running smooth.